<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556304158511-jmac5sbk5r1opps08rd2ccesn0i0ukrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556304158511-jmac5sbk5r1opps08rd2ccesn0i0ukrd</string>
	<key>API_KEY</key>
	<string>AIzaSyDhK-1s7UYkGe9fa-8nl6_6KksgFoHOavY</string>
	<key>GCM_SENDER_ID</key>
	<string>556304158511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.montana-rep-app.goplay</string>
	<key>PROJECT_ID</key>
	<string>montana-rep-app-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>montana-rep-app-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556304158511:ios:b777ac7200a4a8ef19dbda</string>
	<key>DATABASE_URL</key>
	<string>https://montana-rep-app-testing-default-rtdb.firebaseio.com</string>
</dict>
</plist>